<form method="POST" action="/api/search">
    <H2>Search</H2>
    Page : <input type="text" name="page" placeholder="Enter page"><br><br>
    Limit : <input type="text" name="limit" placeholder="Enter limit"><br><br>
    Borough : <input type="text" name="borough" placeholder="Enter Borough"><br><br>
    <input type="submit" value="Search">
</form>